table {
    margin: auto;
    width: 100% !important; 
    overflow-x: auto;
    display: block;
}
 
div {
    max-width: 100%;
    text-align: center;
}
 
th {
    padding: 0px 50px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #a3d6f8;
}

#eform-data{
    margin-bottom: 12px;
}
 
.w3-tombol{
    margin:3px 7px;
}

.w3-tengah{
    width: 50% !important;
    margin: auto;
}

button {
    margin: 4px;
}
 
#code-block {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    white-space: nowrap;
}
 
#statusMessage {
    position: relative;
    top: 40px;
}
 
.textLeft {
    text-align: left;
}
 
.buttonGroup {
    position: relative;
    top: 20px;
}
 
.hidden {
    display: none;
}

